/* ---- FONT ---- */

@font-face {
	font-family: 'SNES';
  src: url('../font/SNES-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../font/Gotham-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: none;
}

@font-face {
  font-family: 'Gotham';
  src: url('../font/Gotham-Medium.woff2') format('woff2');
  font-weight: bold;
  font-style: none;
}

@font-face {
  font-family: 'Material Icons';
  src: url('../font/materialicons-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* ---- RESET ---- */

*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}

html, body, div, iframe,
header, nav, main, section, article,
figure, footer, address, aside,
form, fieldset, legend, details, summary, label, input, textarea,
table, thead, tbody, tr, th, td,
h1, h2, h3, p, ul, li, a, button, span, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  min-width: 100%;
  min-height: 100%;
}

:root {
  --logo: #fc0c18;
  --main-a: #dcdcdc;
  --main-b: #ccc;
  --font-color: #333;
  --field-background: #fff;
  --button-color: #ececec;
  --button-highlight: #fff;
  --disabled: #d3d3d3;
}

:root.dark {
  --main-a: #333;
  --main-b: #555;
  --font-color: #fff;
  --field-background: #222;
  --button-color: #222;
  --button-highlight: #777;
  --disabled: #444;
}

html {
  font: 300 16px Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  min-width: 360px;
  background-color: var(--main-a);
  color: var(--font-color);
}

input[type="text"], textarea, button { border-radius: 0.1875rem; }

input[type="text"], textarea {
  padding: 0.3125rem;
  background-color: var(--field-background);
  color: var(--font-color);
  font-size: 1rem;
  user-select: text;
}

input[type="text"]:matches(:read-only, ::placeholder),
textarea::placeholder {
  color: var(--main-b);
}

input[type="text"] { text-overflow: ellipsis; }

textarea { resize: none; }

button {
  color: currentColor;
  background-color: var(--button-color);
}

button:hover {
  background-color: var(--button-highlight);
}

label {
  display: block;
  font-size: 0.875rem;
}

input:matches([type="checkbox"], [type="radio"]) { appearance: none; }

input:matches([type="checkbox"], [type="radio"])::after {
  display: inline-block;
  color: var(--font-color);
  font: 400 1.125rem 'Material Icons';
  vertical-align: -0.25rem;
}

input:matches([type="checkbox"], [type="radio"]):checked::after {
  color: var(--logo);
}

input[type="checkbox"]::after { content: 'check_box_outline_blank'; } 
input[type="checkbox"]:checked::after { content: 'check_box' }

input[type="radio"]::after { content: 'radio_button_unchecked'; } 
input[type="radio"]:checked::after { content: 'radio_button_checked'; }

svg:not([fill]) { fill: currentColor; }

:focus { outline-color: var(--logo); }

body:not(.accessible) :focus { outline: none; }

::selection {
  background-color: var(--logo);
  color: #fff;
}
